/*==========Página-Um==========*/
.pagina-principal {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.infor-pagina-pricipal {
    width: 100%;
    height: 100vh;
}

.logo {
    width: 130px;
    justify-content: flex-start;
    
}
.logo span {
    color: #FFB800;
    font-family: "Limelight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
}

.logo h1 {
    font-family: "Mina", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 4px;
}

.texto{
    margin-left: 45px;
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end    ;
}

.titulo{
    font-family: "Poppins", sans-serif; 
    font-weight: 700;
    font-size: 33px; 
    color: #000;
}

.caixa-pagina-principal {
    width: 600px;
}

.descricao{ 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13.4px;
    width: 450px;
    height: 100px;
    color: #4A4A4A;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;    
    font-weight: 600;
    font-size: 15px;
    font-family: "Poppins", sans-serif; 
    width: 300px;
    height: 65px;
    user-select: none;
}

.b1, .b2 {
    border-radius: 20px; 
    background-color: #FFB800; 
    color: black;   
    text-align: center; 
    display: inline-block; 
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2)); 
}

.b1 {   
    padding: 10px 25px; /* Padding para o botão "Menu" */
}

.b2 {
    padding: 10px 30px; /* Padding para o botão "Order Now" */
}

.imagem-pagina-um {
    width: 100%;
    height: 100vh;
    align-content: center;
}

.imagem-pagina-um img {
    width: 500px;
    height: 500px;
    margin-right: 5px;
}

.imagem-pagina-um div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media(min-width: 1980px){
    .imagem-pagina-um img{
        width: 687.5px;
        height: 687.5px;
    }
    .texto {
        width: 900px;
        height: 90vh;
    }
    .caixa-pagina-principal{
        width: 850px;   
        height: 850px;
        display: flex;
        flex-direction: column; 
        justify-content: center;  
    }
    .titulo {
        font-size: 40px;
    }
    .descricao{
        width: 630px;
        font-size: 18px;
        height: 125px;
    }
}
/*==========Página-Dois==========*/

.pagina-dois {
    width: 100%;
    height: 100vh;
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-central {
    display: flex;
    font-family: "Poppins";
    font-size: 21px;
    line-height: 34px;
    align-self: center;
    justify-content: center ;
    width: 350px;
    margin-bottom: 100px;
}

.caixa-opcao-pedido {
    display: flex;
    flex-direction: row;
    margin: 45px 45px;
    height: 500px;
    align-items: center;
    margin-bottom: 100px;
}

.informacao-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.caixa {
    width: 200px;
    height: 350px;
    height: 375px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa img {
    align-items: center;
    width: 150px;
    height: 150px;
}

.caixa-de-texto {
    font-family: "Poppins", sans-serif;
    width: 200px;
    height: 175px;
    text-align: center;
}

.caixa-de-texto-titulo-texto {
    height: 20px;
    font-size: 19px;
    padding-bottom: 5px;
}

.caixa-de-texto-descricao {
    font-weight: 300;
    font-size: 15px;
    line-height: 18.25px;
}

.caixa-de-texto-descricao span{
    font-weight: 700;
}

.preco-produto  {
    color: #000;
    font-weight: bold;
    line-height: 13.18px;
    margin-right: 18px;
}

.botao-faz-pedido{
    color: #000;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
    height: 25px;
    padding: 3px 10px;
    border-radius: 15px;
    margin-top: 10px;
    user-select: none;
    text-align: center;
    line-height: 25px;
}

@media(min-width: 1980px){

    .pagina-dois{
        justify-content: flex-start;
    }

    .titulo-central{
        font-size: 24px;
    }

    .caixa img {
        width: 206.25px;
        height: 206.25px;
    }

    .caixa-de-texto-titulo-texto {
        font-size: 25px;
        line-height: 30px;
    }

    .caixa-de-texto-descricao {
        width: 215px;
        height: 105px;
        font-size: 15px;
    }

    .caixa-opcao-pedido  {
        height: 625px;
        align-items: center;
        
    }

    .informacao-produto {
        height: 475px;
    }

    .botao-faz-pedido {
        line-height: 17px;
        font-size: 15px;
        padding: 5px 10px;
    }
}

/*==========Página-Três==========*/
.principal-tres{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.texto-tres{
    width: 100%;
    height: 100vh;
    margin-left: 45px;
    align-content: flex-end;
}

.titulo-tres{
    width: 800px;
    height: 70px;
    font-family: "Poppins", sans-serif; 
    font-weight: 700;
    font-size: 52px;
    line-height: 135px;
    align-content: center;
}

.titulo-tres span{
   color:  #FFB800;
}

.descricao-tres{ 
    height: 110px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 45px;
    color: #4A4A4A;
}

.tempero{
    width: 600px;
    height: 300px;
}
.macarrao {
    width: 900px;
    height: 700px;
    margin-top: 10px;
    margin-right: 35px;
    align-self: center;
}

@media(min-width: 1980px){
    .titulo-tres{
        width: 900px;
        height: 60px;
        font-size: 52px;
        line-height: 125px;
    }
    .descricao-tres {
        font-size: 30px;
        line-height: 34px;
        height: 135px;
    }
    /*Fiz uma regra de 3 para ficar proporcional
    
    600/1440 = ?/1980 =
    1440? = 600 x 1980
    ? = 600 x 1980/1440
    ? = 825 or 825px

    -> Repete o mesmo processo na altura.
    */
    .tempero{
        width: 825px;
        height: 412.5px;
    }
    .macarrao{  
        width: 825px;
        height: 618.25px;
    }
}

/*==========Página-Quatro==========*/

.pagina-quatro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Título */
.titulo-central-pagina-quatro {
    width: 100px;
    height: 40px;
    display: flex;
    font-family: "Poppins";
    font-size: 36px;
    line-height: 15px;
    align-self: center;
    justify-content: center ;
    width: 500px;
    line-height: 35px;
}

.caixa-de-texto-pagina-quatro {
    display: flex;
    flex-direction: column;
}
.caixa-de-texto-pagina-quatro p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 100%;
}

/* Caixa de Comentário*/
.caixa-de-feedback {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil-comentario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.estrela {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.estrela p {
    font-size: 25px;
    color: #FFB800;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.perfil-usuario h3 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 100%;
    height: 15px;
    align-self: center;
}

.comentario {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: -5px;
}

.imagem-lauryn-hill, .imagem-mariah-carey, .imagem-rihanna {
    width: 175px;
    height: 175px;
    border-radius: 175px;
}

@media(min-width: 1980px){

    .titulo-central-pagina-quatro{
        height: 50px;
        line-height: 45px;
    }

    .caixa-de-texto-pagina-quatro p {
        font-size: 18px;
        margin-top: -10px;
    }

    .imagem-lauryn-hill, .imagem-mariah-carey, .imagem-rihanna {
        width: 240.625px;
        height: 240.625px;
    }

    .estrela p {
        font-size: 30px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-top: 20px;
    }

    .perfil-usuario h3 {
        font-size: 17px;
        height: 20px;
    }

    .comentario {
        font-size: 17px;
    }
}