/*==========Página-Um==========*/
.pagina-principal {
    width: 100%;
    height: 100vh;
}

.pagina-principal img {
    position: relative;
    top: -250px; 
    left: 935px;
    transform: scale(1.3,1.3);
    background-size: cover;
}

.logo {
    position: relative;
    top:24px;
    left:43px;
    width: 130px;
    
}
.logo span {
    color: #FFB800;
    font-family: "Limelight", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
}

.logo h1 {
    font-family: "Mina", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 4px;
}

.texto{
    position: relative;
    top: 50px;
    margin-top: 200px;
    margin-left: 40px;
    width: 450px;
    height: 187px;
}

.titulo{
    font-family: "Poppins", sans-serif; 
    font-weight: 700;
    font-size: 33px; 
    color: #000;
}

.descricao{ 
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 13.4px;
    width: 450px;
    height: 100px;
    color: #4A4A4A;
}

.botoes{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;    
    font-weight: 600;
    font-size: 15px;
    font-family: "Poppins", sans-serif; 
    width: 300px;
    height: 65px;
    user-select: none;
}

.b1, .b2 {
    border-radius: 20px; 
    background-color: #FFB800; 
    color: black;   
    text-align: center; 
    display: inline-block; 
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.2)); 
}

.b1 {   
    padding: 10px 25px; /* Padding para o botão "Menu" */
}

.b2 {
    padding: 10px 30px; /* Padding para o botão "Order Now" */
}

/*==========Página-Dois==========*/

.pagina-dois {
    width: 100%;
    height: 100vh;
    background-color: #FFB800;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titulo-central {
    display: flex;
    font-family: "Poppins";
    font-size: 21px;
    line-height: 34px;
    align-self: center;
    justify-content: center ;
    width: 350px;
    margin-bottom: 100px;
}

.caixa-opcao-pedido {
    display: flex;
    flex-direction: row;
    margin: 45px 45px;
    height: 500px;
    align-items: center;
    margin-bottom: 100px;
}

.informacao-produto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.caixa {
    width: 200px;
    height: 350px;
    height: 375px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa img {
    align-items: center;
    width: 150px;
}

.caixa-de-texto {
    font-family: "Poppins", sans-serif;
    width: 230px;
    height: 145px;
    text-align: center;
}

.caixa-de-texto-titulo-texto {
    height: 20px;
    padding-bottom: 5px;
}

.caixa-de-texto-titulo-descricao {
    font-weight: 700;
    font-size: 10.14px;
    line-height: 18.25px;
    letter-spacing: 0%;
}

.preco-produto  {
    color: #000;
    font-weight: bold;
    line-height: 13.18px;
    margin-right: 27px;
}

.botao-faz-pedido{
    color: #000;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    width: 100px;
    height: 25px;
    padding: 3px 10px;
    border-radius: 15px;
    margin-top: 45px;
    user-select: none;
    text-align: center;
}

/*==========Página-Três==========*/
.principal-tres{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.texto-tres{
    width: 100%;
    height: 100vh;
    margin-left: 45px;
    align-content: flex-end;
}

.titulo-tres{
   font-family: "Poppins", sans-serif; 
   font-weight: 700;
   font-size: 42px;
   line-height: 15px;
   align-content: center;
}

.titulo-tres span{
   color:  #FFB800;
}

.descricao-tres{ 
    height: 124px;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 25px;
    color: #4A4A4A;
}

.tempero{
    width: 600px;
    height: 300px;
}
.macarrao {
    width: 600px;
    height: 450px;
    margin-top: 10px;
    margin-right: 35px;
    align-items: center;
}

@media(min-width: 1980px){
    .titulo-tres{
        width: 900px;
        height: 60px;
        font-size: 52px;
        line-height: 125px;
    }
    .descricao-tres {
        font-size: 30px;
        line-height: 34px;
        height: 135px;
    }
    /*Fiz uma regra de 3 para ficar proporcional
    
    600/1440 = ?/1980 =
    1440? = 600 x 1980
    ? = 600 x 1980/1440
    ? = 825 or 825px

    -> Repete o mesmo processo na altura.
    */
    .tempero{
        width: 825px;
        height: 412.5px;
    }
    .macarrao{  
        width: 825px;
        height: 618.25px;
    }
}

/*==========Página-Quatro==========*/

.pagina-quatro {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Título */
.titulo-central-pagina-quatro {
    display: flex;
    font-family: "Poppins";
    font-size: 36px;
    line-height: 15px;
    align-self: center;
    justify-content: center ;
    width: 500px;
}

.caixa-de-texto-pagina-quatro {
    display: flex;
    flex-direction: column;
}
.caixa-de-texto-pagina-quatro p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    line-height: 100%;
}

/* Caixa de Comentário*/
.caixa-de-feedback {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.perfil-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil-comentario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.estrela {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50px;
}

.estrela p {
    font-size: 25px;
    color: #FFB800;
    width: 25px;
    height: 25px;
    line-height: 25px;
}
.perfil-usuario h3 {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    line-height: 100%;
    height: 15px;
    align-self: center;
}

.comentario {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-top: -5px;
}

.imagem-lauryn-hill {
    width: 175px;
    height: 175px;
    border-radius: 175px;
}

.imagem-mariah-carey {
    width: 175px;
    height: 175px;
    border-radius: 100px;
}

.imagem-rihanna {
    width: 175px;
    height: 175px;
    border-radius: 100px;
}